# Minimal reviewed build context; exclusions below take precedence over source inclusion.
**
!package.json
!package-lock.json
!tsconfig.json
!src/
!src/**
**/.env*
**/.[eE][nN][vV]*
**/.git
**/.git/**
**/.[gG][iI][tT]
**/.[gG][iI][tT]/**
**/.graph
**/.graph/**
**/.[gG][rR][aA][pP][hH]
**/.[gG][rR][aA][pP][hH]/**
**/node_modules
**/node_modules/**
**/*.pem
**/*.key
**/.npmrc
**/.netrc
